# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.env

# Database
db.sqlite3

# Media uploads
media/

# Static collected files
staticfiles/

# Local runserver logs
runserver.*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
